<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>

    <style>
        figure { 
            display: inline-block;
            margin: 0;
            text-align: top;
            padding: 0;
        }
    </style>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Classify Skin Lesions Using AI</div>
        <p>This app can dianose seven types of benign and cancerous pigmented skin lesions, from an image, using AI<br>
            Select an image from your desktop to analyze<br>
            [if you don't have any images to analyze, try dragging one of the below images to your desktop to try out]
        </p>
        <br><br>
        <div>
                <figure><img src="/static/images/lesion1.jpg" name = "basal cell carcinoma" height=90 width=90><figcaption>basal cell<br>carcinoma</figcaption></figure>
                <figure><img src="/static/images/lesion2.jpg" name = "melanocytic nevi" height=90 width=90><figcaption>melanocytic<br>nevi</figcaption></figure>
                <figure><img src="/static/images/lesion3.jpg" name = "dermatofibroma" height=90 width=90><figcaption>dermato-<br>fibroma</figcaption></figure>
                <figure><img src="/static/images/lesion4.jpg" name = "vascular lesions" height=90 width=90><figcaption>vascular<br>lesions</figcaption></figure>
                <figure><img src="/static/images/lesion5.jpg" name = "benign keratosis" height=90 width=90><figcaption>benign<br>keratosis</figcaption></figure>
                <figure><img src="/static/images/lesion6.jpg" name = "melanoma" height=90 width=90><figcaption>melanoma<br>.</figcaption></figure>
                <figure><img src="/static/images/lesion7.jpg" name = "actinic keratoses" height=90 width=90><figcaption>actinic<br>keratoses</figcaption></figure>
        </div>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
    <div class='bottom'><br><br><br><br>This app is a prototype... don't use it to make medical decisions!  See a doctor if you have a concern.<br>Written by Dan Eiref</div>
</div>
</body>
</html>
